@import "./additional/flexboxgrid.scss";
@import "./src/additional/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.task {
  margin-left: 20px;
}
.line__through {
  text-decoration: line-through;
}
.hidden {
  display: none;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.task__div {
  display: flex;
  flex-direction: row;
}
.colors {
width: 100%;
max-width: 40px;
}